
Files/Datasets/Ignore/vsa_train.txt
Files/Datasets/Ignore/vsa_test.txt
Files/Datasets/Ignore/training_VM.csv
Files/Datasets/Ignore/spatial_cv.txt
Files/Datasets/Ignore/real_world_VM.csv
Files/Datasets/Ignore/fair_test.txt
Files/Datasets/Ignore/fair_train.txt
Files/Datasets/Ignore/fair_kvar.npy
main_real_set.py
Files/Datasets/Ignore/real_world.csv
Files/Datasets/Ignore/available_data.csv
Files/Datasets/Ignore/vsa_kvar.npy
Files/Datasets/Ignore/spatial_cv_kvar.npy
Files/Datasets/Ignore/real_world.csv
Files/Figures/Real_data_kde.png
Files/Figures/real_violin.png
Files/Figures/configur.png
*.png
Files/Datasets/Ignore/real_world.csv
Files/Datasets/Ignore/available_data.csv
.idea/FairTrainTest.iml
.idea/FairTrainTest.iml
Real dataset